{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "no-unused-vars": "warn"
  },
  "extends": ["eslint:recommended"]
}
